.scroll-to-top {
  position: fixed;
  bottom: .5em;
  right: 1em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: none;
  background: black;
  color: yellow;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  opacity: .8;

  &:hover {
    cursor: pointer;
  }
}
